---
import {timelineData} from "../../data/timeline";
import {addNbsp} from "../../utility/Text";
const ssdsj;
const items = timelineData.map((item, index) => {
  return {
    title: item.title || '',
    text: item.text || '',
    year: item.year || '',
    delay: index * 120,
  };
});
---

<section class="py-12 md:py-14 bg-ink-900" aria-label="Časová osa" id="historie">
    <div class="w-full max-w-[1190px] mx-auto">
        <div class="px-4">
            <div class="uppercase text-parchment-100 font-medium section-eyebrow light" data-animate="fade-left"><p class="ml-8 sm:ml-14 tracking-wide text-sm md:text-base" data-animate="fade-left">Milníky historie</p></div>
        </div>

        <div class="mt-10">
            <div class="w-full max-w-[1190px] mx-auto px-4 swipe">
                <ul class="max-lg:flex max-lg:snap-mandatory max-lg:snap-x max-lg:overflow-auto max-lg:scroll-pr-4 max-lg:scrollbar max-lg:scrollbar-thumb-ink-900 max-lg:scrollbar-track-parchment-100 max-lg:scrollbar-thin lg:grid lg:grid-cols-6">
                    {items.map(({ title, text, year, delay }) => {

                        return (
                            <li style={`--transition-delay: ${delay}ms`} data-animate="fade-left" data-timeline="true" class="timeline-item mb-6 lg:mb-0 max-lg:flex-[0_0_15rem] max-lg:snap-start relative before:content-[''] before:absolute before:top-[49px] md:before:top-[56px] before:left-0 before:h-px before:bg-parchment-300 last:before:bg-transparent">
                                <h2 class="font-bold text-xl md:text-3xl text-parchment-300" data-animate="fade-left">{year}</h2>
                                <span class="inline-block w-[10px] h-[10px] bg-parchment-300 rounded-full my-4" data-animate="fade-left"></span>
                                <h3 class="uppercase text-parchment-300 my-3 max-w-[10ch]" data-animate="fade-left">{addNbsp(title)}</h3>
                                <p class="text-parchment-50 pr-4" data-animate="fade-left">{addNbsp(text)}</p>
                            </li>
                        )
                    })}
                </ul>
            </div>
        </div>
    </div>
</section>